@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

header {
  font-size: 50px;
  color: cyan;
  background-color: black;
}

nav {
  width: 100%;
  height: 30px;
  background-color: black;
  font-size: 20px;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
}
h1 {
  text-align: center;
  border-bottom: solid 10px mediumseagreen;
}
.profile {
  text-align: center;
}
.name {
  padding-bottom: 40px;
  font-size: 20px;
}
.birthday {
  padding-bottom: 40px;
  font-size: 20px;
}
.university {
  padding-bottom: 40px;
  font-size: 20px;
}
.major {
  padding-bottom: 40px;
  font-size: 20px;
}
.grade {
  padding-bottom: 40px;
  font-size: 20px;
}
.hobby {
  padding-bottom: 40px;
  font-size: 20px;
}
.license {
  text-align: center;
  padding-bottom: 40px;
  font-size: 20px;
}
.license3 {
  border-bottom: solid 10px lightyellow;
}
.product {
  text-align: center;
  padding-bottom: 40px;
  font-size: 20px;
}
.product1 {
  border-bottom: solid 10px lightyellow;
}
.sozai {
  text-align: right;
}
